*{
    margin: 0px;
    height: 0px;
    box-sizing: border-box;
}
:root{
    --bordes:1px solid black;
}
.container{
  width: 80%;
  height: 750px;
  /* height: 125vh; */
  margin: auto; 
  margin-top: 25px;
  background: #e7f7f9;
  box-shadow:  20px 20px 60px #c4d2d4,
               -20px -20px 60px #ffffff;
}
.container__nav__list{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list__left{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.items__nav__left1{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: yellow;
}
.nav__rigth{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    border: 1px solid black;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}
li{
    list-style: none;

}
.items__nav__left:hover{
    background-color: aqua;
    padding:20px 20px;
    cursor: pointer;
}
.icons{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}
.contenedor__buscador{
    width: 60%;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border: var(--bordes);
    position: relative;
}
.paragraph{
    margin-top: 50px;
}
.buscar{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    width: 60%;
    height: 30px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.icono__buscar{
    background-image: url("img/search.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 70px;
    bottom: 25px;
}
.btn{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 82px;
    height: 30px;
    left: 90px;
    right: 0;
}
.contenedor__adentro{
    width: 90%;
    height: 450px;
    margin: auto;
}
.nav__adentro{
    width: 100%;
    height: 30px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos__nav__adentro{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.nav__list__adentro{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon__left{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    cursor: pointer;
}
.items1{
    color: tomato;
    cursor: pointer;
}
.items2{
    color: blue;
    cursor: pointer;
}
.contenedor__cards{
    width: 92%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.card{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    background: #e7f7f9;
    box-shadow:  20px 20px 60px #c4d2d4,
                -20px -20px 60px #ffffff;
            
}
.card:hover{
    box-shadow: 1px 3px 4px 5px black;
}
.imagen__card{
    margin-left: 24px;
    margin-top: 14px;
    width: 80%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
    background: #eff9fb;
    box-shadow:  20px 20px 60px #cbd4d5,
             -20px -20px 60px #ffffff;
}
.letras{
    display: inline-block;
    width: 90%;
    text-align: center;

}
.tittulo__card::first-letter{
 text-transform: uppercase;
 font-size: 30px;
}
.descarga{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.letricas{
    text-decoration: solid;
    display: flex;
    width: 120%;
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
}
.footer{
    width: 92%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primera__parte{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 50px;
    padding-top: 10px;
}
.segunda__parte{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 60%;
    height: 50px;
}
.paginas__footer{
    width: 15%;
    height:20px;
}
.imagenes__footer{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.imagenes__footer:hover{
    width: 30px;
    height: 30px;
    background-color: aqua;

}
.final{
    display: flex;
    width: 40%;
    height: 100%;
    gap: 10px;
}
