.container__card{
    width: 300px;
    height: 400px;
    margin:40px   auto;
    position: relative;

}
.card__frontal{
    background-color: red;
    background-image: url(img/frontal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: perspective(300px) rotateY(0deg);
    /* z-index: 1; */
    
}
.card__trasera{
    background-color: seagreen;
    background-image: url(img/trasero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: perspective(300px) rotateY(180deg);
}
.caja{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    backface-visibility: hidden;
    transition: 1s;
}
.container__card:hover >.card__frontal{
    transform: perspective(300px) rotateY(180deg);
}
.container__card:hover >.card__trasera{
    transform: perspective(300px) rotateY(360deg);
}
