*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
:root{
    --b: none;
    --width:90%;
    --marginBottom:15px;
}
.container{
    width: 70%;
    height: 150vh;
    margin: 35px auto;
    border-radius: 20px;
    border:3px solid white;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.container__nav{
   width: 100%; 

}
.tutulo__nav{
    width: 80px;
    height: 60px;
    background-image: url(icons/icono.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.navegacion{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    justify-content: space-between;
}
.lista__nav{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.last-item{
    cursor: pointer;
    border: none;
    padding: 5px 18px;
    background-color: rgb(247, 171, 18);
    border-radius: 12px;
    display: block;
    color: white;
}
.item{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}
.container__info{
    width: var(--width);
    margin: auto;
    margin-top: 100px;
    height: 300px;
    display: flex;
    gap: 12px;
}
.container__text{
    width: 50%;
    height: 100%;
}
.container__title{
    letter-spacing: 4px;
    font-weight: lighter;
    color: #ed5082;
    margin-bottom:var(--marginBottom);
}
.titulo{
    margin-bottom: var(--marginBottom);
}
.container__paragrap{
    margin-bottom: var(--marginBottom);
    text-align: justify;
}
.container__form{
    margin-bottom: var(--marginBottom);
    border: var(--b);
}
.container__form> div{
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn{
    margin-top: 15px;
}
.container__social{
    display: flex;
    width: 30%;
    margin-top: 20px;
    height: 20px;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.redes{
 width: 30px;
 height: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 cursor: pointer;
}
.container__img{
    width: 50%;
    height: 100%;
    background-image: url(icons/img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facebook{
    background-image: url(icons/facebook.svg);
}
.youtube{
    background-image: url(icons/youtube.svg);
}
.twitter{
    background-image: url(icons/twitter.svg);
}
.titulo__medio{
    margin: auto;
    margin-top: 70px;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
}
.titulo__p{
    width: 500px;
    text-align: center;
    margin:20px auto;
}
.container__card{
    display: flex;
    width: var(--width);
    height: 230px;
    margin: auto;
    margin-top: 80px;
    justify-content: space-between;
}
.card{
    width: 200px;
    height: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 5px 0px white;
}

.card__img{
   width: 80%;
   height: 50%;
   margin:10px auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 150px;
}
.img--book{
    background-image: url(icons/book.svg);
}
.img--board{
    background-image: url(icons/board.svg);
}
.img--desktop{
    background-image: url(icons/desktop.svg);
}
.card__paragrap{
    padding: 10px;
    text-align: center;
}


