*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --width--container:80%;
}
:root{
    --borde:1px solid black;
}
.container{
    width: var(--width--container);
    height: 110vh;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.929);
}
.container__intro{
    width:90%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color:	#3f2212ea;
}
.container__nav{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    display: flex;
}
.nav__list{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 20px;
}
.nav--s{
    font-size: 30px;
}
.container__galery{
    display: flex;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
}
.contenedor__left{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.img__1{
    width: 190px;
    height: 300px;
    border-radius: 100px 100px 100px 100px;
    margin-left: 20px;
    margin-top: 20px;
}
.perfil__medium{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left:250px;
}
img{
    width: 20px;
    height: 30px;
    object-fit: cover;
}
.title{
    font-size: 35px;
    color: white;
    margin-top:40px;
    margin-left: 10px;
    width: 50%;
}
.paragraph{
    position: absolute;
    top: 160px;
    left: 220px;
    color: white;
}
.icon__perfil{
    width: 90px;
    height: 90px;
    border-radius: 50%; 
    object-fit: cover;
}
.description{
    color: white;
    width: 70%;
}
.img__product{
    width: 120px;
    height: 200px; 
    border-radius: 50%;
    margin-top: 20px;
}
.descuento{
    width: 50px;
    height: 50px;
    border-radius: 100px 100px 100px 100px;
    object-fit: cover;
    position: absolute;
    right: 380px;
    top:330px;
}