*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --borde:2px solid black;
    --width: 80%;
}
.container{
    width: var(--width);
    height: 150vh;
    border: var(--borde);
    border-radius: 30px;
    margin:50px auto;
}
.container__nav{
    height: 60px;
    width: var(--width);
    margin: auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container__list{
    display: flex;
    align-items: center;
    width: 40%;
    list-style: none;
    margin:20px auto;
    justify-content: space-between;
}
.items{
    /* gap: 20px; */
    font-weight: 700;
    color: black;
}
.container__list >li>a{
    text-decoration: none;
}
.btn__nav{
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    margin-right: 50px;
    background-color: rgb(14, 11, 5);
    border-radius: 12px;
    display: block;
    color: white;
}
.container__portada{
    display: flex;
    width: 90%;
    margin:20px auto;
    background-color: rgba(196, 255, 47, 0.859);
    border-radius: 20px;
}
.container__info{
    display: inline-block;
    justify-content: space-evenly;
    width: 50%;
    height: 400px;
    margin-top: 40px;
}
.info1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
}
.info2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
}
.info1>h1{
    margin-top: 10px;
}
.logo1{
    margin-top: 10px;
    width:70px;
    height: 50px;
    background-image: url(icons/icono.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--borde);
}
.logo2{
    width:70px;
    height: 40px;
    background-image: url(icons/icono.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo3{
    width:40px;
    height: 40px;
    border-radius:50%;
    background-image: url(icons/icono.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.paragrap{
    margin-left:20px ;
    padding-bottom: 30px;
    width: 85%;
    border-bottom: var(--borde);
}
.botones{
    display: flex;
    margin-top: 50px;
    padding-left: 20px;
}
.btn__nav1{
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    margin-right: 50px;
    border-radius: 12px;
    background-color: rgba(196, 255, 47, 0.859);
    border: var(--borde);
}
.container__img{
    width: 50%;
    background-image: url(icons/img.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
}
.container__f>h1{
    margin-top: 40px;
  margin-left: 110px;  
}
.container__footer{
    display: flex;
    justify-content: space-between;
    width: var(--width);
    height: 300px;
    margin:40px auto;
    padding-top: 50px;
}
.card__footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    width: 50%;
    gap: 10px;
    height: 200px;
}
.card{
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 border-radius: 10px;
}
.card1{
    width: 120px;
    height: 120px;
    background-color: skyblue;
}

.card2{
    width: 120px;
    height: 120px;
    background-color: tomato;
}
.card3{
    width: 120px;
    height: 120px;
    background-color: blueviolet;
}
.number_footer{
    width: 40%;
    height: 200px;
}
.number_footer>h1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    align-items: center;
    font-size: 100px;
}
.footer_paragraph{
    text-align: justify;
}