:root{
    /*primary*/
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    /*neutral*/
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --tamaño-fuente: 16px;
    --fuente-heading:'DM Serif Display', serif;
    --fuente-body: 'Karla', sans-serif;
}
body{
    font-family:var(--fuente-body);
}
.nav{
    display: flex;
    justify-content: space-between;
}
.img__principal{
    width: 100%;
    height: 600px;
    margin-top: 10px;
    object-fit:fill;
}
.segunda__parte{
    width: 100%;
    height: 400px;
    background-color: var(--Dark-Violet);
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    /* background-position: center; */
    background-repeat: no-repeat;
    
}
.seccion__cuatro{
    width: 95%;
    margin: auto;
}
.segunda__parte__titulo{
    font-size:40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.segunda__parte__parrafo{
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}
.boton__segunda__parte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    height:40px;
    width: 150px;
    margin:50px auto;
    color: white;
}
.seccion__tres{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    background-position:top;
    background-repeat: no-repeat;
}
.seccion__tres__titulo{
    font-size:40px;
    border-top: 1px solid purple;
}
p{
    color: rgba(128, 128, 128, 0.5);
}
.iconos{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contenedor__iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.footer{
    border-top: 1px solid gray;
}
.titulo__footer{
    text-transform:uppercase;
    font-size: 20px;
    text-align: center;
    color: rgba(128, 128, 128, 0.739);
    margin-bottom: 30px;
}
.subtitulo__footer{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}