*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --borde:1px solid black;
    --with--container:80%;
}
.container{
    width: var(--with--container);
    height: 130vh;
    margin:30px auto;
    background-color:rgb(137, 137, 154 );
    border-radius: 10px;
    position: relative;
}
.container__inside{
    position: relative;
    width:90%;
    height: 90%;
    margin: auto;
    top: 40px;
    background-color: whitesmoke;
}
.container__nav{
    width: 90%;
    height: 60px;
    display: flex;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.316);
    justify-content: space-between;
    align-items: center;
}
img{
    width: 30px;
    height: 30px;
}
.icono__logo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   cursor: pointer;
   font-size: 20px;
}
.container__list{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li--home{
    font-weight: 800;
}
.items__nav{
    cursor: pointer;
}
.items__nav{
    list-style: none;
}
.container__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: max-content;
    height: 30px;
    background-color:#f2db12;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 10px;
    border: none;
    cursor: pointer;
}
.button >img{
    height: 20px;
    width: 20px;
}
.container__principal{
    width:90%;
    height: 60%;
    margin:60px auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.icono__span{
    background-image: url(icons/icon-chair.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 37px;
    height: 37px;
}
.container__info>h1:first-child{
    display: flex;
    align-items: center;
}
.container__down{
    margin-top: 55px;
    display: flex;
    width: 200px;
    height: 70px;
    align-items: flex-end;
    gap: 10px;
}
.container__img{
    height: 80%;
    width: 43%;
}
.img__down{
    height: 65px;
    width: 50px;
    display: block;
    border-radius: 8px;
}
.descrition{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nombre{
    margin-bottom: 8px;
    color: gray;
}
.button--down{
    width:200px;
    height:45px;
    margin-top: 40px;
    font-weight: 600;
    cursor: pointer;
}
.title{
    line-height: 21.5px;
}
.img__big{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.container__number{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img__number{
    width: 50px;
    height: 80px;
    cursor: pointer;
}
.continer__footer{
    width: 100%;
    height:25%;
    background-color:rgb(1, 1, 32);
    position: absolute;
    bottom: 0;
}
.container__footer__info{
    width: 90%;
    margin: auto;
}
.title__footer{
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}
.container__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 275px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:4px 4px 5px 0px rgb(137, 137, 154 ) ;
}
.img__footer__card{
    width: 80px;
    height: 80px;
}
.div__absolute{
    position: absolute;
    top: 64%;
    right: 44px;
    width: 145px;
    height: 118px;
    background-color: rgb(255, 128, 0);
    border-radius: 10px;
}
.number{
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    height: 50%;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid white;
    position: relative;
}
.number__div{
    font-size: 40px;
}
.description__aboslute{
    height: 50%;
    width: 90%;
    margin: auto;
    color: white;
    margin-top: 10px;  
}
.icono__absolute{
    background-image: url(icons/icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    z-index: 200;
}

