*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border: 1px solid black;
}
li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
li:hover{
    background-color: white;
    color: black;
}
nav{
 display: flex;
 justify-content: space-between;
 width: 90%;
 height: 70px;
 margin: auto;
 border: 1px solid black;
 border-radius: 5px;
 align-items: center;
 background-color: rgb(155, 245, 245);  
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.591);
}
.nav__list__vertical{
    display: none;
}
.img__logo{
    background-image: url(icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60px;
    margin: 20px;
    height: 100%;
    cursor: pointer;
}
.nav__list__horizontal{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li>ul{
    position: absolute;
    background-color: white;
    left: 0;
    top: 35px;
    width: 120px;
    
}
li>ul>li:hover{
    color: white;
    background-color: aqua;
}
li:hover > ul{
    display: block;
}