@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&family=Raleway:wght@300;400;700&family=Work+Sans:ital,wght@0,200;1,100;1,200&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
.hero{
    background-image:linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    position: relative;
}
.hero__container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto; 
    height: 100vh;
    position: relative;
}
.hero__texts{
    width: 40%;
    position: absolute;
     left: 0;
    top: 50%;
    transform:translateY(-50%);
}
 .hero__picture{
    position: absolute;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
}
 .hero__title{
   font-size: 4rem; 
}
.hero__paragraph{
    margin: 12px 0 16px ;
}
.hero__cta{
    display: inline-block;
    padding: 16px 32px;
    background-color: rgba(0, 0, 255, 0.768);
    color: white;
    text-decoration: none;
    border-radius:30px ;
    font-weight: 300;
    cursor: pointer;

}
.hero__img{
display: block;
}

.hero__wave{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 200px;
 pointer-events: none;
 background-image: url(wave.svg);
}  


