*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --b:1px solid black;
}
.container__nav{
    width: 90%;
    height: 100vh;
    margin:20px auto;
    background-color: aqua;
}
nav{
    width: 100%;
    padding: 20px;
    background-color: rgba(172, 255, 47, 0.539);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
li>ul{
    display: none;
    position: absolute;
    width: 100px;
    background-color: rgb(10, 246, 167);
    left: 0px;
    top: 38px;
    
}
ul>li:hover>ul{
    display: block;
}
ul>li:hover>ul>li:hover{
   background-color: white;
   color: black;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
}
ul>li:hover{
    background-color: rgb(250, 131, 131);
    color: white;
}
.vertical{
    position: absolute;
    left: 100px;
    top: 0px;
}
nav>ul>li>ul>li:last-child{
    position: relative;
}
nav>ul>li>ul>li>ul>li{
    color: white;
}
.logo{
    background-image: url(icon1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
