*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --borde:1px solid black;
}
button{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}
h{
    margin-bottom: 15px;
}
.container{
    background-color: rgba(128, 128, 128, 0.906);
    width: 80%;
    height: 130vh;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.container__inside{
    background-color: lightgray;
    width: 90%;
    height: 800px;
    margin:auto;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    top: 20px;
}
.logo{
    width: 50px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 20px;
}
.container__nav__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70px;
    margin: auto;
}
.primero{
    width: 20%;
}
.segundo{
    width: 50%;
    height: 300px;
}
.centro{
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 400px;
  position: relative;
}
.todo__title{
    font-size: 80px;
    width: 70%;
    margin: auto;
    text-align: center;
}
.title__top{
    font-size: 25px;
    margin-bottom: 10px;
}
.tittle__dwon{
    font-size: 35px;
    margin-top: 30px;
}
.row__rigth{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: black;
}
.imagen__left{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.imagen{
    background-image: url(img/perfil22.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 320px;
    top: 0px;
    width: 35%;
    height: 400px;
}
/* .container__rigth{
    position: relative;
    display:inline-block;
    justify-content:space-between;
    align-items: center;
    right: 20px;
    height:60%;
    width: 20%;
    gap: 20px;
} */
.icons{
    top: 70px;
    display:inline-block;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
}
.container__rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}
.container__descripcion{
    display: flex;
    gap: 10px;
}
/* .imagen__icon{
    top: 20px;
    left: 20px;
    bottom: 0;
    right: 20px;
    width: 35px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
} */
/* .descriptions{
    display: inline-block;
    position: absolute;
    left: 45px;
} */
.footer{
    width: 90%;
    height: 100px;
    margin: 10px auto;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 5px;
}
.nav__footer{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav__list__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100px;
    list-style: none;
}
.logo--footer{
    font-size: 20px;
    width: 30px;
}
li{
    font-weight: 600;
}
.search--footer{
    width: 120px;
    height: 40px;
    color: white;
    padding-top: 10px;
    background-color: black;
    text-align: center;
    border-radius: 8px;
}
.img__footer{
    position: absolute;
    right: 174px;
}

