*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --container--width:100%;
    --border: 1px solid black;
}
.container{
    width: var(--container--width);
    border: var(--border);
    height: 100vh;
}
.container__nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.container__list{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}
.container__title{
    margin-top: 5px;
}
.color{
    color: palevioletred;
}
.list{
    width: 20%;
    margin-right:20px;
}
li{
    list-style: none;
}
.img__list{
    padding-top: 5px;
}
.li--btn{
    background-color: rgb(252, 84, 121);
    padding: 8px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.container__content{
    width: 60%;
    height: 80px;
    margin: auto;
    margin-top: 50px;
}
.container__img{
    display: flex;
}
.container__perfil__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__list__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.container__lista{
    display: flex;
    width: 20%;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.img__perfil{
    width: 50px;
    height: 50px;
}
.items__heart{
    padding: 5px 12px;
    background-color: rgb(252, 84, 121);
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.contenedor__total{
    border: var(--border);
    width: 60%;
    margin: auto;
    margin-top: 10px;
    height: 110vh;
    background-color: yellow;
    border-radius: 10px;
}
.contenedor__total__real{
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
}
.contenedor__total__nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid black;
}
.contenedor__nav__list{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-right: 0px;
}
.contenedor__nav{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.contenedor__title{
    margin-top: 20px;
}
.title{
    width: 100%;
    text-align: center;
}
.contenedor__subtitle{
    margin-top: 10px;
    width: 90%;
    margin: auto;
    height: 80px;
}
.subtitulo{
    margin-top: 10px;
    width: 19%;
    height: 80px;
}
.galeria{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 250px;
}
.img__galeria{
    width: 130px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}
.small{
    width: 130px;
    height: 90px;
    border-radius: 20px;  
}
.imagen2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imagen4{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imagen3 >img{
    height: 250px;
    object-fit: cover;
    width: 140px;
}
.paragraph__footer{
    display: flex;
    margin-top: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.footer{
    width: 40%;
}
.footer__rigth{
    display: flex;
    width:60%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;
}
.title__medio{
    /* margin-top: 20px; */
    font-size: 10px;
}
.firma{
    font-family: 'Qwitcher Grypen', cursive;
    height: 30px;
    margin-top: 10px;
    width: 110px;
    background-color: yellow;
}
.information{
    width: 30%;
}
.container__aside{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 30px;
    height: 300px;
    cursor: pointer;
}
.img__user__one{
    width: 50px;
    height: 50px;
}
.img__aside {
    gap: 20px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


